html,
body {
  height: 100%;
  width: 100%;
  /* background: rgb(38, 12, 12); */
  background: linear-gradient(
    -45deg,
    rgba(38, 12, 12, 1) 32%,
    rgba(79, 44, 44, 1) 32%
  );
  color: #ffaeae;
}
